.panel {
  position: relative;
  height: calc(100% - 63px);
  margin: 10px 0;
  overflow-x: hidden;
  overflow-y: scroll; 
}
.panel::-webkit-scrollbar {
  display: none;
}
.loading-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}