.menu-item {
  display: inline-block;
  width: 172px;
  color: #666;
  text-align: center;
  border-bottom: 6px solid #efefef;
}
.menu-item.active {
  border-bottom: 6px solid #38f;
  color: #323232;
}
.item-content {
  display: inline-block;
  padding: 6px 12px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}