* {
  margin: 0;
  padding: 0;
}
.container {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 50%;
  max-width: 556px;
  padding: 10px 18px;
  min-height: 250px;
  transform: translateX(-50%);
  border-radius: 8px;
  box-shadow: 0 0 6px 0 #ccc;
}
